<md-content flex >
    <div flex></div>
</md-content>

<md-sidenav class="md-sidenav-left md-whiteframe-4dp" md-component-id="filter">
    <md-toolbar class="md-theme-light">
        <h1 class="md-toolbar-tools"><i class="fa fa-search"></i>&nbsp;Filter</h1>
    </md-toolbar>
    <md-content layout-padding>
    <!-- Filter Menu -->
    <div>
    <!-- Types of filter -->
        <div>
            <span class="filter-undertitle">		
                <i class="fa fa-check-square-o"></i> Mattyp:		
            </span>
            <md-list ng-controller="ListCtrl" ng-cloak>
            </md-list>
            <table style="width:100%">
                <!--
                <table>
                    <tr ng-repeat="row in rows">
                        <td ng-repeat="checkbox in checkboxes">{{ checkbox }}</td>
                    </tr>
                </table>
                -->
                <tr>
                    <td><md-checkbox class="md-primary">Alla mattyper</md-checkbox></td>
                    <td><md-checkbox class="md-primary">Pizza</md-checkbox></td>
                </tr>
                <tr>
                    <td><md-checkbox class="md-primary">Italienskt</md-checkbox></td>
                    <td><md-checkbox class="md-primary">Asiatiskt</md-checkbox></td>
                </tr>
                <tr>
                    <td><md-checkbox class="md-primary">Husmanskost</md-checkbox></td>
                    <td><md-checkbox class="md-primary">Grekiskt</md-checkbox></td>
                </tr>
                <tr>
                    <td><md-checkbox class="md-primary">Sushi</md-checkbox></td>
                    <td><md-checkbox class="md-primary">Vegetariskt</md-checkbox></td>
                </tr>
                <tr>
                    <td><md-checkbox class="md-primary">Indiskt</md-checkbox></td>
                    <td><md-checkbox class="md-primary">Hamburgare</md-checkbox></td>
                </tr>
            </table>
            <!-- Price Filter Slider -->
            <md-slider-container ng-controller="AppCtrl">
                <p class="filter-undertitle"><i class="fa fa-usd"></i>&nbsp;Prisklass</p>
                <md-slider ng-model="princeRange" class="md-primary" aria-label="Price Slider" flex md-discrete ng-readonly="readonly"></md-slider>
            </md-slider-container>

            <!-- Rating -->
            <span class="filter-undertitle"><i class="fa fa-star"></i>&nbsp;Betyg</span>
                <div class="star-rating"> 
                    <span class="fa fa-star" data-rating="1"></span>
                    <span class="fa fa-star" data-rating="2"></span>
                    <span class="fa fa-star" data-rating="3"></span>
                    <span class="fa fa-star-o" data-rating="4"></span>
                    <span class="fa fa-star-o" data-rating="5"></span>
                </div>
            </div>
        </div>
    </md-content>
</md-sidenav>