/*HTML*/
html,body {
    height: 100%;
    overflow-x: hidden;
}
/*Map*/
#map {
    height: 100%;
    z-index: 0;
}

/*Side Menu*/
#right-menu{right:35px;}
#left-menu{left: 0;}
#right-menu, #left-menu {
    background-color: rgba(0,0,0,0);
    border-radius: 20px;
    padding: 5px;
    position: relative;
    width: 42px;
    text-align: center;
    font-size: 20px;
    z-index:1;
    outline:none;
}
    
.list-group {
    width: 300px;
    display: none;
    position: relative;
    top: 0;
    right: 0;
    z-index: 99;
    background-color: #FFF;
    border: 1px solid rgba(0,0,0,0.9);
    border-radius: 4px;
    height:100%;
}

.mini-submenu{
    outline:none;
}
.mini-submenu:hover {
    cursor: pointer;
}
.mini-submenu{
    border-radius: 1px;
    display: block;
    height: 2px;
    width: 22px;
    margin-top: 3px;
}

.mini-submenu{
    background-color: #000;
}

#left-slide-menu, #right-slide-menu {
    background: rgba(0,0,0,0.45);
    display: inline-block;
    padding: 0 8px;
    border-radius: 4px;
    cursor: pointer;
    outline:none;
}
/*main menu*/
#menu {
    position: absolute;
    top: 1px;
}
.menu-undertitle {
    padding: 10px;
    background: #b3b2b2;
    color: #FFF;
    font-size: 18px;
    padding: 10px;
}
/*filter menu*/
#filterMenu {
    position: absolute;
    top: 1px;
    right: 1px;
}
.filter-undertitle {
    font-size: 18px;
    padding: 10px;
}
table {
    margin: 10px;
}
#price-max {
    margin: 10px;
    width: 280px;
}
.star-rating {
    line-height: 32px;
    font-size: 2em;
    cursor: pointer;
    padding: 10px;
    margin: 10px;
}

/*Button group*/
.btn-group {
    padding: 10px;

}
.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
    outline:none;
}
/*Voting*/
#createVotingButton {
    background: none;
    border-radius:50%;
    border-color: white;
    border-width: thick;
    color: white;
    z-index: 1;
    position: absolute;
    bottom: 20px;
    right: 20px;
    text-decoration:none;
    outline:none;
}

#createVotingButton:hover {
    opacity: 0.7;
}
