/*HTML*/
html,body {
    height: 100%;
    overflow-x: hidden;
    
}
/*Map*/
#map {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    height: 100%;
    z-index: 0;
    
}


.filter-undertitle {
    font-size: 18px;
    padding: 10px;
}
.star-rating {
    line-height: 32px;
    font-size: 2em;
    cursor: pointer;
    padding: 10px;
    margin: 10px;
}

/*Voting*/
table {
    margin: 10px;
}
#createVotingButton {
    z-index: 2;
    position: absolute;
    bottom: 20px;
    right: 20px;
    text-decoration:none;
    outline:none;
}

#createVotingButton:hover {
    opacity: 0.7;
}
/*mainmenu*/

#slidermenu{
    position:relative;
    float:left;
    background:white;
    z-index: 1;
    padding:0;
}
md-sidenav{
    max-height:100vh;
    z-index: 3;
}
/*the width of the sidemenu*/    

.infomenu{
    
width: 500px;
}

.moreinfo{
    
z-index: 3;
}
md-backdrop.md-sidenav-backdrop{z-index:2;}
.menu{
    max-height:100vh;
    overflow:hidden;
}
md-list-item{
    padding:0;
    margin:0;
}

