<!DOCTYPE html>
<html>
    <head>
        <title>CMD</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <!-- LEAFLET -->
        <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
        <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
        
        <!-- STYLESHEET -->
        <link rel="stylesheet" type="text/css" href="css/layouts/style.css"> 
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="../libs/bower/lib/bootstrap/dist/css/bootstrap.css">
        <script src="../libs/bower/lib/angular/angular.js"></script>
        <script src="../libs/bower/lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
        <link rel="stylesheet" href="../libs/bower/lib/font-awesome/css/font-awesome.css">
        <script src="../js/views/main.js"></script>
        
        
        <script src='https://api.mapbox.com/mapbox.js/v2.3.0/mapbox.js'></script>
        <link href='https://api.mapbox.com/mapbox.js/v2.3.0/mapbox.css' rel='stylesheet' />

        <!--GET API SCRIPT -->
        <script src="js/get.js"></script>

    </head>
    <body ng-app="app" ng-controller="getData">  
        <!--
        <div id="group"><h1>Röstningsnamn: {{ item.data.attributes.name }}</h1></div>
        <h2>Rastauranger</h2>
        <div ng-repeat="restaurant in item.included">
            <span class="restaurant" ng-if="restaurant.type == 'restaurant'">
                {{ restaurant.attributes.name }}
            </span>
            <span class="votes" ng-repeat="vote in item.included">
                <span ng-if="vote.relationships.restaurant.data.id == restaurant.id">
                    ({{ vote.relationships.user.data.id }})
                </span>
            </span>
        </div>
        
        <div id="group"><h1>Röstningsnamn: {{ item.data.attributes.name }}</h1></div>
        <h2>Rastauranger</h2>
            <div ng-repeat="restaurant in included.restaurant">
                    {{ restaurant.attributes.name }}
                <span class="votes" ng-repeat="vote in included.vote">
                    <span ng-if="vote.relationships.restaurant.data.id == restaurant.id">
                        ({{ vote.relationships.user.data.id }})
                    </span>
                </span>
            </div>
            <div id="users" ng-repeat="user in included.user">
                    {{ user.attributes.name }}
            </div>
        
        <span ng-if=" expireDate < displayDate">
            <p>RÖSTNING KLAR</p>
            {{ displayDate }}
           <br>
            {{ displayDate | date: 'yyyy-MM-dd HH:mm:ssZ' }}
        </span>
        -->

    </body>
</html>