<!DOCTYPE html>
<html>
    <head>
        <title>CMD</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
         <!-- LEAFLET -->
        <link rel="stylesheet" href="../libs/bower/lib/leaflet/dist/leaflet.css">
        <script src="../libs/bower/lib/leaflet/dist/leaflet.js"></script>
        
        <!-- STYLESHEET -->
        <link rel="stylesheet" type="text/css" href="../css/layouts/style.css"> 
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="../libs/bower/lib/bootstrap/dist/css/bootstrap.css">
        <script src="../libs/bower/lib/angular/angular.js"></script>
        <script src="../libs/bower/lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
        <link rel="stylesheet" href="../libs/bower/lib/font-awesome/css/font-awesome.css">
        <script src="../js/views/main.js"></script>
        
        
        <script src='https://api.mapbox.com/mapbox.js/v2.3.0/mapbox.js'></script>
        <link href='https://api.mapbox.com/mapbox.js/v2.3.0/mapbox.css' rel='stylesheet' />

        <!--REGISTER USER API SCRIPT -->
        <script src="js/app.js"></script>
        <script src="js/loginUser.js"></script>
        <script src="js/regUser.js"></script>

    </head>
    <body ng-app="app">  
        <h1>LOG IN</h1>
        <form ng-controller="loginUser" ng-submit="loginUser()">
            <input type="text" ng-model="email" name="email"> Email
            <br>
            <input type="text" ng-model="password" name="password"> Password
            <br>
            <input type="submit" id="submit" value="Logga in">
        </form>
        <span>{{ loginUser }}</span>
        <h1>REGISTER USER</h1>
        
        <form ng-controller="regUser" ng-submit="regUser()">
            <input type="text" ng-model="name" name="name"> Name
            <br>
            <input type="text" ng-model="regEmail" name="regEmail"> Email
            <br>
            <input type="text" ng-model="regPass" name="regPass"> Password
            <br>
            <input type="submit" id="submit" value="Registrera">
        </form>
        <span>{{ regUser }}</span>
    </body>
</html>